<div class="text">
  <div class="menu">
  <a routerLink="/home" routerLinkActive="active" class="home">HOME</a>
  <a routerLink="/about" routerLinkActive="active" class="home">O NAS</a>
  <a routerLink="/portfolio" routerLinkActive="active" class="home">PORTFOLIO</a>
  <a routerLink="/contact" routerLinkActive="active" class="home">KONTAKT</a>
</div>
</div>
<router-outlet></router-outlet>
<div class="logo">
  <img [src]="fb">
</div>
<div class="logo2">
  <img [src]="in">
</div>
<div class="logo3">
  <img [src]="git">
</div>
<footer>
  <p>Wszelkie prawa zastrzeżone</p>
</footer>
