<div class="description">
  <p>Witajcie na naszej stronie internetowej. Jest ona poświęcona programowaniu.
    Znajdziecie tu projekty, które są dziełem naszej pracy.
    Sami projektujemy wygląd aplikacji. Aspiracje czerpiemy z interesujących aprtykułów, zdjęć, książek.
    Staramy się, aby nasze dzieła były wyjątkowe i nieprzeciętne.
  </p>
</div>
<!-- <div class="logo">
  <img [src]="fb">
</div>
<div class="logo2">
  <img [src]="in">
</div>
<div class="logo3">
  <img [src]="git">
</div> -->
<div class="foto">
</div>

