
 .text {
  color: white;
  height: 50px;
  background-color: blue;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  font-size: 30px;
  text-transform: uppercase;
}

.description{
  height: 200px;
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.menu{
 margin: 0 auto;
 width: 700px;
}
 a {
color: white;
text-decoration: none;
 }

.home {
  display: inline;
  margin: 10px;
}

.home:hover {
  color: red;
  cursor: pointer;
}

.logo {
 position: absolute;
 top: 100px;
 right: 10px;
}
img {
  width: 50px;
  height: 50px;
}

img:hover {
width: 60px;
height: 60px;
transition: 1s;
cursor: pointer;
}

.logo2 {
 position: absolute;
 top: 180px;
 right: 10px;}

 .logo3 {
   position: absolute;
   top: 260px;
   right: 10px;}


.foto{
  margin: 0 auto;
  background-image: url('src/assets/1.jpg');
  background-repeat: no-repeat;
  width: 700px;
  height: 300px;
}

.foto:before  {
 display: block;
content: "LALA";
color: red;
width: 640px;
height: 16px;
background-color: red;
}

footer {
  width: 100%;
  height: 50px;
  background-color: black;
}

footer p {
 color: white;
 padding: 10px;
 text-align: center;
}
